layout {

    focus-ring {
        active-color   "#b9ccb6"
        inactive-color "#131412"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#b9ccb6"
        inactive-color "#131412"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#b9ccb6"
        inactive-color "#3b4b3a"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#b9ccb680"
    }
}

recent-windows {
    highlight {
        active-color "#b9ccb6"
        urgent-color "#ffb4ab"
    }
}
